<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background: linear-gradient(45deg, red, black);
            color: white; /* Set text color to white for better visibility */
        }
    </style>
</head>
<body>

<h2>Registration</h2>
<form action="register"method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email address"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your username"><br>
    <input type="submit">
</form>

{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}

</body>
</html>
